<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta http-equiv=X-UA-Compatible content="ie=edge">
    <title>xxxxxxxxxxxxx</title>
</head>

<body>
    <div id=app></div>
    <script type=text/javascript src=../public/js/manifest.8e8cdd53.js></script>
    <script type=text/javascript src=../public/js/vendor.ee3751ae.js></script>
    <script type=text/javascript src=../public/js/main.c2365203.js></script>
</body>

</html>