/*--
  基础css
  定义基础属性和初始化工作
---*/

$default-fontSize:12px;
$default-fontColor:#000;
$default-lineHeight:1.5;
$default-borderColor:#ccc;
$default-backgroundColor:#fff;
$default-fontFamily:"\5FAE\8F6F\96C5\9ED1" "\5B8B\4F53";
$boxSizing:false; //是否开启border-box

/*--
初始化
--*/

* {
    @if($boxSizing) {
        box-sizing: border-box;
    }
    @else {
        box-sizing: content-box;
    }
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0
}

.clearfix:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    line-height: 0;
}

body {
    font-size: $default-fontSize;
    color: $default-fontColor;
    line-height: $default-lineHeight;
    background-color: $default-backgroundColor;
    font-family: $default-fontFamily;
}

ol,
li {
    list-style: none;
}

a:hover {
    text-decoration: none
}

.header {
    width: 100%;
    height: 100%;
}

.header:after {
    content: "这是头部";
    font-size: 40px;
}

.footer {
    width: 100%;
    height: 100%;
}

.footer:after {
    content: "这是尾部";
    font-size: 40px;
}